@font-face {
    font-family:'Glyphicons Halflings';
    src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/glyphicons/glyphicons-halflings-regular.woff2) format('woff2'),
         url(../fonts/glyphicons/glyphicons-halflings-regular.woff) format('woff'),
         url(../fonts/glyphicons/glyphicons-halflings-regular.ttf) format('truetype'),
         url(../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'devicons';
    src: url('../fonts/devicons/devicons.eot?t6lrq7');
    src: url('../fonts/devicons/devicons.eot?t6lrq7#iefix') format('embedded-opentype'),
         url('../fonts/devicons/devicons.ttf?t6lrq7') format('truetype'),
         url('../fonts/devicons/devicons.woff?t6lrq7') format('woff'),
         url('../fonts/devicons/devicons.svg?t6lrq7#devicons') format('svg');
    font-weight: normal;
    font-style: normal;
}