@media screen and (max-width: 640px) {
    /**
     * Search navbar
     */
    .search_form {
        width: 100%;
        padding: 2em 1em 0;
    }
    .search_input {
        font-size: 2em;
    }
    .button-search-close {
        font-size: 1.15em;
    }
    .search_suggestion {
        font-size: 0.85em;
        width: 100%;
        margin-top: 40vh;
        padding: 0 1em;
    }
}

@media screen and (max-width: 600px) {
    .morph-button-modal.open .morph-content {
        top: 0% !important;
        left: 0% !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
        transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    }
}

@media screen and (max-width: 400px) {
    .morph-button-fixed,
    .morph-button-fixed .morph-content {
        width: 200px;
        height: 80px;
    }

    .morph-button-fixed > button {
        font-size: 75%;
    }
}


